.counter-count
{
    font-size: 30px;
    background-color: #00b3e7;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    width: 80px;
    height: 40px;
    display: inline-block;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;

}

