<nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="SupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <button class="btn  mr-1" style="width:200 px;height: 40px">
                        <a  href="{% url 'adminadduser' %}">Add User</a>
                    </button>
                    <button class="btn mr-1" style="width:200 px;height: 40px ">
                        <a href="{% url 'adminaddprescription' %}">Add prescription</a>
                    </button>
                    <button class="btn mr-1" style="width:200 px;height: 40px">
                        <a href="{% url 'adminaddtreatmentplan' %}">Add treatment plan</a>
                    </button>
                </ul>
            </div>
        </div>
</nav>